*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
    font: inherit;
}

:root {
    --bg-color: #ececec;
    --container-bg: #e2e2e2;
    --border-color: #c1c1c1;

    --btn-primary: #a0a0a0;
    --btn-secondary: #d3d3d3;
    --btn-operator: #b7b7b7;
    --btn-active: #7a7a7a;
    --text-main: #2f2f2f;
    --text-muted: #777777;
}

.viewWhole {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 40vw;
    background-color: var(--container-bg);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
}

.calculator,
.operators,
.actions,
.result {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
}

/* Inputs */
.calculator {
    display: flex;

    flex-direction: column;
    justify-content: center;
}
.numBox {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 25px 80px;
}
.numLabel {
    padding-right: 50px;
    font-weight: 600;
    font-size: 36px;
    color: var(--text-main);
}
.numBox input {
    font-size: 30px;
    color: var(--text-main);
    background-color: var(--bg-color);
    text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Operators */
.operators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0% 10%;
}

.operators button {
    flex: 1;
    background-color: var(--btn-operator);
    height: 50%;
    min-width: 40px;
    margin: 0px 20px;
    color: var(--text-main);
    font-weight: 800;
    font-size: 54px;
    border-radius: 5px;
    border: 3px solid var(--btn-secondary);
    box-shadow: 0px 1px 10px 1px;
}

.operators button:active {
    background-color: var(--btn-active);
}

/* Actions */
.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0% 10%;
}

.actions button {
    flex: 1;
    background-color: var(--btn-primary);
    height: 50%;
    min-width: 50px;
    margin: 0px 20px;
    color: var(--text-main);
    font-weight: 800;
    font-size: 60px;
    border-radius: 5px;
    border: 3px solid var(--btn-secondary);
    box-shadow: 0px 1px 10px 1px;
}

.actions button:active {
    background-color: var(--btn-active);
}

/* Results */
.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0% 20%;
}

#resultLabel,
#resultOutput {
    flex: 1;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}
