*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
    font: inherit;
}

:root {
    --taupe: #463f3aff;
    --battleship-gray: #8a817cff;
    --silver: #bcb8b1ff;
    --isabelline: #f4f3eeff;
}

.viewWhole {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--isabelline);
}

.container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 40vw;
    background-color: var(--silver);
    border-radius: 10px;
    padding: 10px;
}

.calculator,
.operators,
.actions,
.result {
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
}

/* Inputs */
.calculator {
    display: flex;

    flex-direction: column;
    justify-content: center;
}
.numBox {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 25px 80px;
}
.numLabel {
    padding-right: 50px;
    font-weight: 600;
    font-size: 36px;
    color: var(--taupe);
}
.numBox input {
    font-size: 20px;
    color: var(--taupe);
    background-color: var(--isabelline);
    text-align: center;
}
